html {
    height: 100%;
}
body {
    background-color: rgb(99, 99, 109);

}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 20px;
}
header {
    background-color: rgb(50, 51, 54);
    display: flex;
    min-height: 20%; 
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h1 {
    font-size: 70px;
    color: white;
    padding-left: 20px;
}
main {
    margin-top: 30px;
    background-color: rgb(50, 51, 54);
    font-size: xx-large;
}
p {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px ;
    padding-left: 5px; ;
}
footer {
    background-color: rgb(50, 51, 54);
    margin-top: 20px;
}
footer p {
    color: whitesmoke;
    font-size: 30px;
}
a {
    color: rgb(153, 153, 189);
    font-size: 30px;
}
.regard {
    display: flex;
    margin-top: 20px;
    background-color: rgb(50, 51, 54);
    font-size: 25px;
    justify-content: space-around;
}